body {
	background-color: #eee;
}

.ckeditor * {
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	-ms-box-sizing: content-box;
	-webkit-box-sizing: content-box;
}

@media ( min-width : 992px) {
	.modal-lg {
		width: 900px;
	}
}

a:link,a:active,a:hover,a:visited {
	color: #E56953;
}

a.btn {
	color: #fff;
}

.xspPanelViewColumnHeader {
	color: #000;
	padding: 4px 0px 4px 0px;
}

.nav-pills>li.active>a,.nav-pills>li.active>a:hover,.nav-pills>li.active>a:focus
	{
	background-color: #E56953;
}

.pagehelp {
	background: #e56953; /* Old browsers */
	background: -moz-linear-gradient(top, #e56953 0%, #ad3400 100%);
	/* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e56953),
		color-stop(100%, #ad3400) ); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e56953 0%, #ad3400 100%);
	/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e56953 0%, #ad3400 100%);
	/* Opera 11.10+ */
	background: -ms-linear-gradient(top, #e56953 0%, #ad3400 100%);
	/* IE10+ */
	background: linear-gradient(to bottom, #e56953 0%, #ad3400 100%);
	/* W3C */
	filter: progid :   DXImageTransform.Microsoft.gradient (    
		startColorstr = 
		 '#e56953', endColorstr =   '#ad3400', GradientType =   0 );
	/* IE6-9 */
}

.pagehelp { /*background-color: #E56953;*/
	margin-bottom: 20px;
	color: #fff;
	min-height: 120px;
	padding-top: 0px;
}

.pagehelp a:link,.pagehelp a:active,.pagehelp a:visited {
	color: #fff;
}

.msg {
	display: block;
	margin-top: 3px;
	font-size: 0.9em;
	padding: 5px;
}

.actionbar .btn {
	margin-right: 4px;
}

.btn-custom-green {
	background-color: #abd100;
	color: white;
	border-color: #abd100;
}

.btn-custom-green:hover,.btn-custom-green:focus,.btn-custom-green:active
	{
	background-color: #C4DF4D;
	border-color: #C4DF4D;
	color: white;
}

.btn-custom-orange {
	background-color: #E56953;
	color: white;
	border-color: #E56953;
}

.btn-custom-orange:hover,.btn-custom-orange:focus,.btn-custom-orange:active
	{
	background-color: #ed8876;
	border-color: #E56953;
	color: white;
}

#footer {
	font-size: 0.8em;
}

.actionbar { /*border-bottom: solid 1px #ccc;*/
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.tab-pane {
	padding: 10px;
	border-left: solid 1px #ddd;
	border-right: solid 1px #ddd;
	border-bottom: solid 1px #ddd;
}

.logindialog {
	-webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
	-moz-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
	box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}

th {
	font-weight: bold;
}

.tundra .dijitSelect .dijitButtonContents,.tundra .dijitSelect,.tundra .dijitTextBox
	{
	background: none;
}

.dijitPlaceHolder {
	font-style: inherit;
}

.panel-title {
	font-weight: bold;
}

.tiny th,.tiny td {
	font-size: 0.9em;
}

.clickable {
	cursor: pointer;
}

.panel-heading span {
	margin-top: -20px;
	font-size: 15px;
}

.form-group label {
	display: block;
}

.form-group label.left {
	display: inline-table;
}

.disabled {
	background-color: #eee;
	cursor: not-allowed;
}

a.nav-disabled {
	cursor: not-allowed;
}

.modal-header {
	color: #fff;
	background-color: #E56953;
	border-color: #ccc;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	-moz-border-top-left-radius: 3px;
	-moz-border-top-right-radius: 3px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
}

/* BS4XPages tweaks */
.container {
	padding-left: 0px;
	padding-right: 0px;
}

.row {
	margin-left: 0px;
	margin-right: 0px;
}

.pagination>.active>a,.pagination>.active>span,.pagination>.active>a:hover,.pagination>.active>span:hover,.pagination>.active>a:focus,.pagination>.active>span:focus
	{
	z-index: 2;
	color: #999999;
	background-color: #f5f5f5;
	border-color: #dddddd;
	cursor: pointer;
}

.pagination {
	margin: 0;
}

.row {
	margin: 0px -15px 0px -15px;
}